body{
  background-color: #B5B6C4;
  margin: 0;
  padding: 0;
}
nav{
  background-color: #1A26CE;
  display: flex;
}
#nav-right{
  padding-left: 70%;
}

#nav-right ul{
  display: flex;
  list-style: none;
  display: flex;
}

#nav-right ul li{
  padding-left: 7%;
}

#menu-drop-down {
  display :none;
  background-color: #FFFFFF;
  margin-left:80%;
  text-align: center;
  border-radius: 7%;
}

#accounts-drop-down {
  display: none;
  text-align: center;
  margin-left: 80%;
  background-color: #FFFFFF;
  border-radius: 7%;
 }
 
 #accounts-drop-down a, #menu-drop-down a{
   color: #000000;
   text-decoration: none;
   padding-top: 4%;
   padding-bottom: 3%;
 }
 
 #accounts-drop-down button, #menu-drop-down button{
   padding-top: 4%;
   padding-bottom: 3%;
   border: none;
   background-color: #ffffff;
 }
 
 #accounts-drop-down button:hover, #menu-drop-down button:hover,#accounts-drop-down a:hover, #menu-drop-down a:hover{
   background-color: #1A26CE;
   color: #FFFFFF;
 }